.gradle
**/.gradle
build
**/build
all-jars/
run
runs
bin
out
*.iml
.idea
.vscode
*.log
.env
.env.*
secrets/
.release-upload-state.json
.mcreator
sprout_and_soil.mcreator
mcreator.gradle
elements
.eclipse
.settings
.classpath
.project
.factorypath
*.class
